<EditForm Model=@InvoiceItem OnValidSubmit="@HandleValidAddInvoiceItem">
    <DataAnnotationsValidator />

    <div class="d-flex flex-row existingaddress">
        <div class="p-2 col-sm-8">
            <label for="name">Name</label>
            <InputText @bind-Value=InvoiceItem.Name class="form-control" id="name" />
            <ValidationMessage For="() => InvoiceItem.Name"></ValidationMessage>
        </div>
        <div class="p-2 col-sm-2">
            <label for="price">Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">£</span>
                </div>
                <InputNumber @bind-Value=InvoiceItem.Price class="form-control" id="price" />
                <ValidationMessage For="() => InvoiceItem.Price"></ValidationMessage>
            </div>
        </div>
        <div class="p-2 col-sm-2">
            <label for="add">Action</label><br />
            <button class="btn btn-secondary" id="add">Add</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<InvoiceItem> OnAdd { get; set; }

    public InvoiceItem InvoiceItem { get; set; } = new InvoiceItem();

    void HandleValidAddInvoiceItem(EditContext editContext)
    {
        InvoiceItem = (InvoiceItem)editContext.Model;
        OnAdd.InvokeAsync(InvoiceItem);
        InvoiceItem = new InvoiceItem();
    }
}
