
@if (InvoiceFiles.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>File</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in InvoiceFiles)
            {
                <tr>
                    <td><span class="oi oi-file"></span></td>
                    <td><a href="@invoice.Url" target="_blank">@invoice.Filename</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existing Invoices</p>
}

@code {
    [Parameter]
    public List<InvoiceFile> InvoiceFiles { get; set; }

    [Parameter]
    public EventCallback<List<InvoiceFile>> InvoiceFilesChanged { get; set; }
}
