
@if (Invoices.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>File</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Invoices)
            {
                <tr>
                    <td><input type="checkbox" @onchange="(eventArgs) => HandleChecked(invoice, eventArgs)" /></td>
                    <td><a href="#" target="_blank">@invoice.FileName</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existing Invoices</p>
}

@code {
    [Parameter]
    public List<Invoice> Invoices { get; set; }

    [Parameter]
    public EventCallback<List<Invoice>> InvoicesChanged { get; set; }

    [Parameter]
    public EventCallback<List<Invoice>> HandleCheck { get; set; }

    [CascadingParameter(Name = "InvoicesToBeSent")]
    private List<Invoice> InvoicesToBeSent { get; set; }

    private void HandleChecked(Invoice invoice, ChangeEventArgs eventArgs)
    {
        if ((bool)eventArgs.Value == true)
        {
            InvoicesToBeSent.Add(invoice);
        }
        else
        {
            InvoicesToBeSent.Remove(invoice);
        }

        HandleCheck.InvokeAsync(InvoicesToBeSent);
    }
}
