
<div class="state">
    <div class="state-icon @IsComplete">
        <span class="oi oi-check"></span>
    </div>
    <h3 class="@IsComplete">@State</h3>
    <p>
        @Date
        <br />
        @Time
        <br />
    </p>
</div>
@if (!IsLastStatus)
{
    <div class="state-line @IsComplete"></div>
}

@code {
    [Parameter]
    public string State { get; set; }

    [Parameter]
    public string IsComplete { get; set; }

    [Parameter]
    public string Date { get; set; }

    [Parameter]
    public string Time { get; set; }

    [Parameter]
    public bool IsLastStatus { get; set; }
}
